
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
}
input[type="file"] {
  display: block;
}
.file1{

  display: block !important;
  flex-wrap: wrap !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.select{
  color: #6c757dc7;
}
.option{
  color:#495057;
}
header.masthead {
  position: relative;
  background-color: #fff;
 /* background: url("../img/bg-masthead.jpg") no-repeat center center;*/
  /*background-size: cover;*/
  padding-top: 8rem;
  padding-bottom: 8rem;
  z-index:-1;
}
.imageThumb {
  max-height: 75px !important;
  width:100px;
  border: 2px solid #eaeaea !important;
  padding: 1px;
  cursor: pointer;
}
.show_image{
  width: 115px;
  height: 150px;
}
.block{
  display: block !important;
  flex-wrap: wrap !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.remove {
  background:#ffffff;
  color: #6c757dc7;
  cursor: pointer;
}
.remove:hover {
  color: red;
  cursor: pointer;
  transition: all 0s;
}
.lineheight{
  line-height:1.4 !important;
}
.nounderline {
  text-decoration: none !important;
}
.user-btn{
  background:#edeff2;
  cursor:context-menu !important; 
}
.login-btn{
  color: #5a5a5a;
  font-size: 110% !important; 

}
.ticket-btn{
  font-size: 110% !important;
  padding: 10px;
  border-bottom: 1px solid #f8f9fa;
  display:block;
  background:white;
  color:#495057;
}
.ticket-btn:hover{
  background:#bba369ad;
  color: #495057;
}
.logout-btn{
  color: #5a5a5a;
  font-size: 110% !important;
  padding: 5px;
  border: 1px solid #f8f8f8;
  border-radius:5px;
}
.logout-btn:hover{
  color:#495057;
  background:#bba369ad;
  font-size: 110% !important;
  padding: 5px;
  border: 1px solid #f8f8f8;
  border-radius:5px;
}
.contain{
  min-height:65vh;
}
.color-theme{
color: #bba369 !important;
}
.color-theme-back{
background-color:#bba369 !important;
}
.bg-ash{
  background-color: #fdfdfd !important;
}
.color-headline-light{
  color: #cccccc;
}
.card-border-custom{
 border:1px solid #ffffff;
}
/*header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}*/

header.masthead h1 {
  font-size: 2rem;
  color: #757575;
}

.navbar-brand{
  width: 11%;
}

.navbar-brand img{
  width: 90%;
}

.navbar-custom ul{
  list-style: none;
  display: inline-flex;
  text-decoration: none;
  /*padding-left: 12%;*/
  /*margin-right: 12%;*/
  margin-bottom: 0;
}

.navbar-custom li{
  list-style: none;
  display: inline-flex;
  text-decoration: none;
  margin-bottom: 0;
  font-size: 92%;
}

.navbar-custom li>a{
  
  color: #5a5a5a;
  
}

.navbar-custom-sm ul {
  list-style: none;
  text-decoration: none;
  /*padding-left: 12%;*/
  /* margin-right: 12%; */
  margin-bottom: 0;
}

.navbar-custom-sm li{
  list-style: none;
  text-decoration: none;
  margin-bottom: 0;
  font-size: 92%;
}

.navbar-custom-sm li>a{

  color: #5a5a5a;

}

.btn-dropdown-nav-custom{
  color: white !important;
  font-size: 100% !important;
}

.form-control-custom{
    
    width: 80% !important;
    padding: 1.2rem 1.2rem !important;
    font-size: 1rem ;
    font-weight: 300 !important;
    line-height: 1.5;
    color: #b3b5b7;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0!important;
}
.search-button-cusotm{
   background-color: #ffffff !important;
    border: 1px solid #f1f1f1 !important;
    border-radius: 0rem !important;
}

input[type=text]::placeholder{
  color: #cccccc;
}
input[type=email] ::placeholder{
  color: #cccccc;
}
textarea ::placeholder{
  color: #cccccc;
}
.light-text{
  color: #cacaca;
}
.border-radius-0{
  border-radius: 0;
}

.btn-restaurant{
  color: #fff;
  border: 1px solid #00897B;
  background-color:#00897B;
}

.btn-restaurant:hover{
  color: #fff !important;
}

.btn-retail{
  color: #fff;
  border: 1px solid #003A72;
  background-color:#003A72;
}

.btn-retail:hover{
  color: #fff !important;
}


.custom-button{
  color: #fff;
  background-color: #bba369;
  border-color: #bba369;
  padding: 9px 10px;
}

.right-border{
  border-right: 1px solid #ececec;
}

.light-border{
  border: 1px solid #ececec;
}

/*.product{
  border: 1px solid #f7f6f6;
}*/

.tutorial-list a:hover{
  color:#bba369 !important;
  text-decoration:underline !important;
}
.product a{

text-decoration: none;
color: #5a5a5a;
font-size: 95%;

}
.product a:hover{
  color:#6c757d;
  text-decoration:underline;
}
.product-logo{
  width: 43%;

}

.product-logo img{
  width: 100%;
  transition: width .5s;
}

.product-logo img:hover{
  width: 105%;
}
.leads{
  align-self: justify;
}

.testimonial-img-1 {
  width: 100%;
}

.testimonial-img-1 img{
  width: 25%;
}
.topic-description{
  font-size: 100%;
  color: #5a5a5a;
}
.icon-color-size{
  font-size: 160%;
  color: #ececec;
}

.custom-padding-left{
  padding-left: 2.8%;
}
/*.testimonial-img-2 {
  width: 100%;
}

.testimonial-img-2 img{
  width: 20%;
}

.testimonial-img-3 {
  width: 100%;
}

.testimonial-img-3 img{
  width: 15%;
}*/

.popular-topic-icon{
   font-size: 200%;
  color: #d6d6d6;
}

.get-started-icon{
   font-size: 120%;
  color: #d6d6d6;
}

.list-inline-item a{
  color: #5d5d5d;
}

.color-rom{
color: #00897B !important;
}
.color-rbs{
color: #003A72 !important;
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 3rem;
    padding-bottom: 1.7rem;
  }
  header.masthead h1 {
    font-size: 2.5rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

.features-icons .features-icons-item {
 /* max-width: 20rem;*/
  margin-top: 3%;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}


.call-to-action {
  position: relative;
  /*background-color: #eaeaea;*/
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}


/*rom-help*/

.breadcramp-header{
  padding-top: 2rem !important;
  padding-bottom: 1rem !important;
}

.help-article-div{

  border: 1px solid #fff;
 /* box-shadow: 0.2px 0.1px 0.1px 0.2px #d6d6d6*/;

}

/*knock page*/

.mainbox{
  /*border:1px solid #cccccc;*/
}
.panel-heading{
  background-color: #cccccc;
}
.panel-title{
  font-size: 115%;
  color: #333333;
}
.panel-padding{
  padding-left: 45%;
  padding-top: 10%;
  background:none;
  color:#6c757d;
}
.panel-style{
  padding-left: 34.5%;
  padding-top: 5%;
  background: none;
  color: #bba369;
  word-spacing: 5px;
  letter-spacing: 12px;
}
.panel-style1{
  color: #6c757d;
  word-spacing: 5px;
  letter-spacing: 5px;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}
.drawer-button{
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #45526e;
  border: 2px solid #bba369;
  color: #bba369;
  margin-top: -5px;
}
.dropdown-user{
  left: -122px !important;
  width: 170px;
  height: auto;
  padding-top:0px;
}

.panel-style2{
  color: #6c757d;
  word-spacing: 2px;
  letter-spacing: 4px;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.6;
}
.reg-success-text a{
  color:#6c757d;
}
.reg-success-text a:hover{
  color:#bba369;
}
.reg-success-text p{
  font-size: 18px;
  word-spacing: 3px;
  letter-spacing: 2px;
  color:#6c757d;
  line-height:1.7;
}
.success-anchor{

}
.success-anchor:hover{
  color:#bba369;
}
/*.thanks{
  font-size:2.2em;
  color:#bba369;
  font-weight:100 !important;
}*/
.btn-info-custom{
  background-color: #bba369!important;
  border:1px solid #bba369;
  color: #fff!important;
  border-radius: 0!important;
}
.btn-info-custom:hover{
  background-color: #bbbbbb!important;
  border:1px solid #bbbbbb;
  color: #333!important;
  border-radius: 0!important;
}
.btn-knock-custom{
  background-color: #bba369!important;
  border:1px solid #bba369;
  color: #fff!important;
  border-radius: 0!important;
  padding: 9px 10px;
}
.btn-knock-custom:hover{
  background-color: #bbbbbb!important;
  border:1px solid #bbbbbb;
  color: #333!important;
  border-radius: 0!important;
  padding: 9px 10px;
}

/*.radio-inline{
   
   display: inline-flex;
}*/

/*tutorial*/

.btn-filter-custom{
   background-color: #fff !important;
  border:1px solid #fff;
  color: #929292!important;
  border-radius: 0!important;
  font-size: 115%;
}

.bl__share {
  margin-top: 33px; }
  .bl__share span {
    color: #959595;
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px; }

    .blog__social__net li + li {
  margin-left: 10px;
  }
  .blog__social__net li {
  list-style: none; }

.blog__social__net li a:hover i {
  background: #555;
  border: 1px solid #555;
  color: #fff; }
.blog__social__net li a i {
  border: 1px solid #ededed;
  color: #959595;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transition: all 0.5s ease 0s;
  width: 30px; }

/*faq*/

.card-border-custom{
  border: 1px solid #fff;
}

.card-header{
  background-color: #fff;
  border-bottom: 1px solid #fff;
  padding-left: 0;
}

.btn-accordian{
  background-color: #fff !important;
  border:1px solid #fff;
 /* color: #0d948f!important;*/
  color: #797979!important;
  border-radius: 0!important;
  padding-left: 0;
  font-size: 100%;
  font-weight: 300;
}

.text-medium-light{
  color: #cccccc;
}

/*forum*/
.search-icon-color{
  color: #cccccc;
}

.text-inner{
  /*padding-bottom: 3%;*/
  /*border-bottom: 1px solid #f1f1f1;*/
}

.dark-font{
  color: #555!important;
}

.font-small{
  font-size: 84%;
}

.font-small-questions{
  font-size:100%;
}

.date{
  color: #999;
}

.comments{
  color: #bba369;
}

.form-control {

    font-weight: 300 !important;
    border: 1px solid #eaeaea !important;
    border-radius: 0 !important;
    
}

/*knock*/

.btn-dropdown-custom{

  background-color: #fff;
  border-radius: 0;
  border:1px solid #eaeaea;
  color: #d2d2d2 !important;
  width: 100%;
}

.file {
  position: relative;
  overflow: hidden;
}
.file input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

/*my-interaction*/

.Interaction i{
 font-size: 400%;
 color: #bba369;
}
.share-button-turorial{
    background: #bba369;
    border: 2px solid #af9d72 !important;
}
.share-button-turorial:hover{
  background: #ffffff;

}
.share-button-turorial i{
  padding: 5px;
  border: 2px solid #a77705 !important;
  color:#ffffff;
  border: none !important;
}
.share-button-turorial i:hover{
  color:#bba369;
}
/*tutorial-sidebar*/

.nav-side-menu {
  overflow: auto;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 12px;
  font-weight: 500;
  background-color: #ffffff;
  width: 300px;
  color: #757575;
  position:-webkit-sticky;
  top:0;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 3%;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
 
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: Fontawesome;
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #e8e8e8;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #757575;
  font-size: 115%;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #cccc;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }

  .navbar-brand img {
    width: 180%;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.nav-side-menu ul .sub-menu ul .sub-line li.active,
.nav-side-menu li .sub-menu li .sub-line li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li .sub-line li.active a,
.nav-side-menu li .sub-menu li .sub-line li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li .sub-line li,
.nav-side-menu li .sub-menu li .sub-line li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li .sub-line li:hover,
.nav-side-menu li .sub-menu li .sub-line li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li .sub-line li:before,
.nav-side-menu li .sub-menu li .sub-line li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 100px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu .sub-menu li {
  padding-left: 20px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu .sub-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.sub-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li .sub-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


@media (max-width: 767px) {
 .nav-side-menu .sub-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
.nav-side-menu  .sub-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  
  .sub-line ul .sub-press li.active,
.sub-line li .sub-press li.active {
  color: #d19b3d;
}

.sub-line ul .sub-press li.active a,
.sub-line li .sub-press li.active a {
  color: #d19b3d;
}
.sub-line ul .sub-press li,
.sub-line li .sub-press li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.sub-line ul .sub-press li:hover,
.sub-line li .sub-press li:hover {
  background-color: #020203;
}
.sub-line ul .sub-press li:before,
.sub-line li .sub-press li:before {
  font-family: Arial;
  content: "\f105";
  display: inline-block;
  padding-left: 50px;
  padding-right: 10px;
  vertical-align: middle;
}

.sub-line li {
  padding-left: 20px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.sub-line li a {
  text-decoration: none;
  color: #e1ffff;
}
.sub-line li a i {
  padding-left: 50px;
  width: 20px;
  padding-right: 20px;
}
.sub-line li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/*MEDIA QUERY FOR RESPONSIVE*/
@media (max-width: 767px) {
  .sub-line {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .sub-line .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .search_button{
    padding:2px 0px;
  }
}

  @media screen and (min-width: 980px) /* Desktop */ {

  }
  @media screen  and (max-width: 969px) /* Tablet */ {

  }
  @media screen  and (max-width: 780px) /* Tablet */ {
    header.masthead 
    {
      padding-top: 2rem;
      padding-bottom: 0rem;
    }
    .product-logo img
    {
      margin-left: -55%;
      width: 180%;
    }
  }
  
  @media screen and (max-width: 500px) /* Mobile */ {
    header.masthead 
    {
      padding-top: 2rem;
      padding-bottom: 0rem;
    }
    .product a
    {
      margin-left: 40px;
    }
    .call-to-action 
    {
      padding-top: 0rem;
      padding-bottom: 2rem;
    }
    main, aside
    {
      padding: 50px 0 50px;
    }
  }
  @media only screen and (max-width: 374px) and (min-width: 320px){
    .product-logo img
    {
      margin-left: -180%;
      width: 500%;
    }
    .panel-padding{
      padding-left: 24%;
      padding-top: 25%;
      background: none;
      color: #6c757d;
    }
    .panel-style{
      padding-left: 9%;
      padding-top: 55%;
      background: none;
      color: #bba369;
      word-spacing: 5px;
      letter-spacing: 3px;
    }
  }
  
  
  @media only screen and (max-width: 425px) and (min-width: 375px){
    .product-logo img
    {
      margin-left: -65%;
    }
    .nav-side-menu 
    {
      width: 79%;
    }
    .panel-padding{
      padding-left: 30%;
      padding-top: 25%;
      background: none;
      color: #6c757d;
    }
    .panel-style{
      padding-left: 10%;
      padding-top: 20%;
      background: none;
      color: #bba369;
      word-spacing: 5px;
      letter-spacing: 6px;
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 426px){
    .nav-side-menu 
    {
      width: 60%;
    }
    .panel-padding{
      padding-left: 32%;
      padding-top: 25%;
      background: none;
      color: #6c757d;
    }
    .panel-style{
      padding-left: 15%;
      padding-top: 20%;
      background: none;
      color: #bba369;
      word-spacing: 7px;
      letter-spacing: 6px;
    }
  }

  @media  (min-width: 767px) and (max-width: 820px){
    .panel-padding{
      padding-left: 40%;
      padding-top: 25%;
      background: none;
      color: #6c757d;
    }
    .panel-style{
      padding-left: 15%;
      padding-top: 20%;
      background: none;
      color: #bba369;
      word-spacing: 7px;
      letter-spacing: 6px;
    }
  }
